
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0-windows/apphost.exe
obj/Debug/net6.0-windows/7.5-SchetsEditorC.pdb
obj/Debug/net6.0-windows/7.5-SchetsEditorC.genruntimeconfig.cache
obj/Debug/net6.0-windows/7.5-SchetsEditorC.dll
obj/Debug/net6.0-windows/7.5-SchetsEditorC.csproj.GenerateResource.cache
obj/Debug/net6.0-windows/7.5-SchetsEditorC.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/7.5-SchetsEditorC.assets.cache
obj/7.5-SchetsEditorC.csproj.nuget.g.props
obj/7.5-SchetsEditorC.csproj.nuget.dgspec.json
bin/Debug/net6.0-windows/7.5-SchetsEditorC.pdb
bin/Debug/net6.0-windows/7.5-SchetsEditorC.exe
bin/Debug/net6.0-windows/7.5-SchetsEditorC.dll
.vs/7.5-SchetsEditorC/v17/.suo
.vs/7.5-SchetsEditorC/FileContentIndex/5fb760a0-30d5-44e1-a97a-084e6cdac72e.vsidx
.vs/7.5-SchetsEditorC/FileContentIndex/5972c1bf-537a-4222-ae08-043086d9005b.vsidx
